<nav class="navbar navbar-expand-lg" 
     [class.home-navbar]="isHomePage" 
     [class.things-to-do-navbar]="isThingsToDoPage"
     [class.regular-navbar]="!isHomePage && !isThingsToDoPage"
     [class.search-result-navbar]="isSearchResultPage"
     [class.scrolled]="isScrolled">
  <div class="container">
    <div>
      <a class="navbar-brand" routerLink="/home"><img [src]="logo" alt="logo"></a>
    </div>

    <div class="search-wrapper" *ngIf="showSearchBar">
      <div class="search-container search-group">
        <input 
          type="text" 
          class="search-input" 
          [(ngModel)]="query"
          (input)="onSearchInput()"
          (focus)="activateSearch()"
          (blur)="deactivateSearch()"
     (keydown.enter)="submitSearch()"

          placeholder="Search...">
        <img [src]="searchIcon" alt="searchIcon" class="searchIcon">
      </div>

      <div *ngIf="searchResults.length > 0" class="search-results-container visible">
        <div *ngFor="let result of searchResults" class="result-item" (click)="goToDetails(result)">
          <img [src]="result.image" alt="{{ result.name }}" class="result-image">
          <div class="result-details">
            <h4 class="result-name">{{ result.name }}</h4>
            <p class="result-description">
              {{ result.description.length > 50 ? (result.description | slice:0:55) + '...' : result.description }}
            </p>
            <p class="result-category">{{ result.category }}</p>  
          </div>
        </div>
      </div>
    </div>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/thingstodo" routerLinkActive="active-link">Things to do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/adventureMode" routerLinkActive="active-link">Adventure mode</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/plan" routerLinkActive="active-link">Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/wishlist" routerLinkActive="active-link">Wishlist</a>
        </li>
      </ul>
    </div>

    <div class="profile-container">
      <div class="profile-trigger" (click)="toggleProfileMenu()">
        <img [src]="profilePic || userData.profileImageURL" class="profile-pic rounded-circle" alt="profile-pic">
      </div>
      <div class="overlay" *ngIf="!isCollapsed" (click)="toggleProfileMenu()"></div>
      <div class="menu-card" *ngIf="!isCollapsed">
        <div class="card-body">
          <div role="button" routerLink="/profile" class="menu-item" (click)="closeCollapse()">Profile</div>
          <div role="button" routerLink="/booking" class="menu-item" (click)="closeCollapse()">Bookings</div>
          <div role="button" routerLink="/payment-history" class="menu-item" (click)="closeCollapse()">Payment history</div>
          <!-- <div role="button" routerLink="/settings" class="menu-item" (click)="closeCollapse()">Settings</div> -->
          <div role="button" class="menu-item" (click)="logout()">Sign out</div>
        </div>
      </div>
    </div>
  </div>
</nav>
