.navbar{
    background-color: var(--primary-color) !important;
}

.nav-link{
    font-size: 18px;
    font-weight: 600;
}
.nav-item .nav-link{
    margin: 0 20px  ;
    color: var(--black);
}


.search-container {
    display: flex;
    align-items: center;
    width: 20%;
    margin: 0 auto;
    border: 1px solid var(--black);
    border-radius: 20px;
    background-color: var(--white);
    padding: 10px;
  
    .search-input {
      width: 100%;
      padding: 5px 10px;
      border: none;
      border-radius: 20px;
      outline: none;
      font-size: 16px;
    }
    
  }
  
  /* Responsive styling */
  @media (max-width: 576px) {
    .search-container {
      max-width: 300px;
  
      .search-input {
        font-size: 14px;
      }
  
      .search-icon {
        font-size: 14px;
      }
    }
  }
  
