<!-- top-selling.component.html -->
<div class="packages-container">
  <h2>Travel Agencies</h2>
  <h1>Exclusive Packages</h1>
  <div class="carousel-wrapper">
    <owl-carousel-o #owlCarousel [options]="customOptions" *ngIf="carouselReady && packages?.length">
      <ng-container *ngFor="let package of packages">
        <ng-template carouselSlide>
          <div class="package-card" (click)="navigateToPackage(package.planId)" style="cursor: pointer;">
            <!-- Heart Icon -->
            <div class="wishlist-icon" (click)="toggleWishlist(package.planId, $event)">
              <img 
                [src]="isInWishlist(package.planId) ? 'assets/icons/heart-red.svg' : 'assets/icons/heart-outline.svg'"
                [alt]="isInWishlist(package.planId) ? 'Remove from wishlist' : 'Add to wishlist'"
                class="heart-icon"
                [class.active]="isInWishlist(package.planId)"
              >
            </div>
            <img [src]="package.imageURLs" alt="{{ package.planName }}">
            <div class="package-details">
              <h3>{{ package.planName }}
                <span class="price">{{ package.egyptianAdult | priceFormat | currency: '£' }}</span>
              </h3>
              <div class="duration">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <polygon points="3 11 22 2 13 21 11 13 3 11"></polygon>
                </svg>
                <span>{{ package.duration + " Days Trip"}}</span>
                <div class="stars">
                  <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                    <svg width="40" height="40" viewBox="0 0 24 24" 
                         [attr.fill]="i < getStarRating(package.averageRating) ? '#FFD700' : '#CCCCCC'">
                      <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 
                                       18.18 21.02 12 17.77 5.82 21.02 
                                       7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                    </svg>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <img *ngIf="carouselReady && packages?.length" [src]="leftArrowSrc" class="nav-button left" aria-label="Previous slide" (click)="onPrev()">
    <img *ngIf="carouselReady && packages?.length" [src]="rightArrowSrc" class="nav-button right" aria-label="Next slide" (click)="onNext()">
  </div>
</div>