
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

$primary-font: 'Inter', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$input-border-color: #FAC817;
$gap-spacing: 20px;
$padding-large: 4rem;
$padding-small: 10px;
$label-bottom-padding: 5px;
$font-size: 16px;
$line-height: 18px;

body {
  font-family: $primary-font; 
}

input {
  border: 1px solid $input-border-color;
  border-radius: 15px;
  margin-left: -10px;
  &:focus {
    outline: none;
    border: $input-border-color;
    box-shadow: 0 0 5px $input-border-color;
  }
}

.registerform, .login-info-form {
  padding: $padding-large;
  .register-logo, .login-logo {
    width: 120px;
    height: auto;
    margin-left: -7rem;
    left: 47px;
    border-radius: 20px 0px 0px 0px;
    margin-bottom: 45px;
    position: relative;
    z-index: 1;
  }
}

.form-row {
  display: flex;
  gap: $gap-spacing;
  width: 100%;
}

h2 {
  margin-bottom: 11px;
  margin-left: -3px;
  font-weight: 600;
}

.form-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: $padding-small;
  margin-bottom: 22px;
  margin-left: 10px;
}
#gender {
  font-family: $primary-font;
  display: flex;
  gap: $gap-spacing;
  align-items: baseline;
  font-weight: 300;
  margin-top: 10px;
}

input[type="radio"] {
  margin-right: -10px;
  margin-left: 0;
  width: auto;
}

label {
  font-family: $primary-font;
  margin-left: -5px;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  padding-bottom: $label-bottom-padding;
}

.phone-input {
  width: 445px;
  display: flex;
  align-items: center;
  border: 1px solid $input-border-color;
  border-radius: 15px;
  margin-left: -10px;
  
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.phonePrefix {
  font-family: $secondary-font;
  font-size: $font-size;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 5px;
  height: 44px;
  line-height: 44px;
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
}

#phoneNumber {
  height: 44px;
  padding-left: 10px;
  border-radius: 15px;
  border: none;
  font-size: $font-size;
  margin-left: 2px;
  width: 27rem;
  font-weight: 300;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.small-hr {
  width: 7rem;
  border-top: 2px solid #111;
}

h6 {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 500;
  color: #718096;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top:-10px;
  margin-bottom: 0px;
}

.register-btn {
  width: 25rem;
  height: 42px;
  background-color: #FFBD67;
  color: #000000;
  font-family: $primary-font;
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
  text-align: center;
  border: 2px solid $input-border-color;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 15px 0 -20px 2rem;
  &:disabled {
    background-color: #FFBD67;
    cursor: not-allowed;
  }
}

.alert {
  color: red;
  height: 0px;
  padding: 0px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.password-icon {
  position: absolute;
  top: -30px; 
  left: 10px;  
  cursor: pointer;
  z-index: 99;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  .login-info-btn {
    width: 249px;
    margin-left: -2rem;
    margin-bottom: -20px;
    margin-top: -3px;
  }
}