<footer>
    <div class="container">
        <div class="row content pt-5 pb-4 position-relative">
            <div class="col-md-4">
                <img [src]="logo" alt="logo" class="logo mb-2" routerLink="home">
                <h5>Your smart guide to Egypt's hidden gems <br>
                     and timeless wonders </h5>

                <div class="social-media-icons w-25 d-flex justify-content-around mt-4">
                    <img [src]="facebookLogo" alt="facebookLogo" (click)="openSocialMedia('facebook')" style="cursor: pointer;">
                    <img [src]="instagramLogo" alt="instagramLogo" (click)="openSocialMedia('instagram')" style="cursor: pointer;">
                    <img [src]="twitterLogo" alt="twitterLogo" (click)="openSocialMedia('twitter')" style="cursor: pointer;">
                    <img [src]="tiktokLogo" alt="tiktokLogo" (click)="openSocialMedia('tiktok')" style="cursor: pointer;">
                </div>
            </div>
            
            <div class="col-md-2">
                <h4 class="mb-3 fw-bold">Explore</h4>
                <div class="categories">
                    <h5 routerLink="">Home</h5>
                    <h5 routerLink="">Things to Do</h5>
                    <h5 routerLink="">Adventure Mode</h5>
                    <h5 routerLink="">Plan Your Trip</h5>
                    <h5 routerLink="">Wishlist</h5>
                </div>
            </div>

            <div class="col-md-2">
                <h4 class="mb-3 fw-bold">Emergency Contact</h4>
                <div class="categories">
                    <h5 routerLink="">Support{{user}}kemet.com</h5>
                    <h5 routerLink="">Ambulance ( 123 )</h5>
                    <h5 routerLink="">Firefighter ( 180 )</h5>
                    <h5 routerLink="">Police ( 122 )</h5>
                </div>
            </div>

            <div class="col-md-2">
                <h4 class="mb-3 fw-bold">Contacts us</h4>
                <div class="categories">
                   <div class="d-flex mb-3">
                    <img [src]="emailLogo" alt="emailLogo" class="me-1">
                    <h5 class="mb-0">{{email}}</h5>
                   </div>
                   <div class="d-flex mb-3">
                    <img [src]="phoneLogo" alt="phoneLogo" class="me-1">
                    <h5 class="mb-0">(414) 687 - 5892</h5>
                   </div>
                   <div class="d-flex mb-3 align-items-start">
                    <img [src]="locationLogo" alt="locationLogo" class="mt-1 me-1">
                    <h5 class="mb-0" style="margin-top: 5px;">Cairo,Egypt</h5>
                   </div>
                </div>
            </div>

            <div class="col-md-2 d-flex flex-column align-items-center">
                <h4 class="mb-3 fw-bold">Plan your trip with AI</h4>
                <div class="categories mb-4">
                    <button class="submit-btn w-100" (click)="navigateToPlan()">plan</button>                   
                </div>

                <!-- Currency Calculator -->
                <h4 class="mb-2 fw-bold">Currency Calculator</h4>
                <div class="calculator">
                    <div class="input-group mb-3 currency-selector">
                        <input type="number" 
                               class="form-control no-spinner" 
                               placeholder="Amount" 
                               [(ngModel)]="amount"
                               (input)="calculateConversion()"
                               min="0"
                               onkeypress="return event.charCode >= 48">
                        <select class="form-select" 
                                [(ngModel)]="fromCurrency"
                                (change)="calculateConversion()">
                            <option *ngFor="let currency of currencies" [value]="currency.code">
                                {{currency.code}}
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3 currency-selector">
                        <input type="text" 
                               class="form-control" 
                               [value]="convertedAmount.toLocaleString('en-US', { maximumFractionDigits: 2, minimumFractionDigits: 2 })"
                               readonly>
                        <select class="form-select" 
                                [(ngModel)]="toCurrency"
                                (change)="calculateConversion()">
                            <option *ngFor="let currency of currencies" [value]="currency.code">
                                {{currency.code}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>