<footer>
    <div class="container ">
        <div class="row content pt-5 pb-4 position-relative ">

            <div class="col-md-4">
                <img [src]="logo" alt="logo" class="logo mb-4" routerLink="home">
                <h5>Lorem ipsum dolor sit amet <br>
                consectetur adipiscing elit aliquam</h5>

                <div class="social-media-icons w-50 d-flex justify-content-around mt-4">
                    <img [src]="facebookLogo" alt="facebookLogo" width="11" height="19">
                    <img [src]="twitterLogo" alt="twitterLogo" class="mt-1" width="19" height="15">
                    <img [src]="instagramLogo" alt="instagramLogo" width="19" height="19">
                    <img [src]="linkedinLogo" alt="linkedinLogo" width="19" height="18">
                    <img [src]="youtubeLogo" alt="youtubeLogo" class="mt-1" width="21" height="15">
                </div>
            </div>

            <div class="col-md-2">
                <h4 class="mb-4">Product</h4>
                <div class="categories">
                    <h5 routerLink="">Features</h5>
                    <h5 routerLink="">Pricing</h5>
                    <h5 routerLink="">Case studies</h5>
                    <h5 routerLink="">Reviews</h5>
                    <h5 routerLink="">Updates</h5>
                </div>
            </div>

            <div class="col-md-2 ">
                <h4 class="mb-4">Company</h4>
                <div class="categories">
                    <h5 routerLink="">About</h5>
                    <h5 routerLink="">Contact us</h5>
                    <h5 routerLink="">Careers</h5>
                    <h5 routerLink="">Culture</h5>
                    <h5 routerLink="">Blog</h5>
                </div>
            </div>

            <div class="col-md-2">
                <h4 class="mb-4">Support</h4>
                <div class="categories">
                    <h5 routerLink="">Getting started</h5>
                    <h5 routerLink="">Help center</h5>
                    <h5 routerLink="">Server status</h5>
                    <h5 routerLink="">Report a bug</h5>
                    <h5 routerLink="">Chat support</h5>
                </div>
            </div>

            <div class="col-md-2 ">
                <h4 class="mb-4">Contacts us</h4>
                <div class="categories">
                   <div class="d-flex">
                    <img [src]="emailLogo" alt="emailLogo" class="me-1">
                    <h5>{{email}}</h5>
                   </div>
                   <div class="d-flex">
                    <img [src]="phoneLogo" alt="phoneLogo" class="me-1">
                    <h5>(414) 687 - 5892</h5>
                   </div>
                   <div class="d-flex  align-items-start">
                    <img [src]="locationLogo" alt="locationLogo" class="mt-1 me-1">
                    <h5 style="line-height: 30px;">794 Mcallister St
                        San Francisco, 94102</h5>
                   </div>
                </div>
            </div>
            
        </div>

        <div class="row justify-content-around pb-4">
            <div class="col-md-4">
                <p>Copyright &copy; 2022 BRIX Templates</p>
            </div>
            <div class="col-md-5">
                <h5 style="font-weight: 400;">All Rights Reserved | <a routerLink="">Terms and Conditions</a> | <a routerLink="">Privacy Policy</a></h5>
            </div>
        </div>
    </div>
</footer>