<footer>
    <div class="container ">
        <div class="row content pt-5 pb-4 position-relative ">

            <div class="col-md-4">
                <img [src]="logo" alt="logo" class="logo mb-2" routerLink="home">
                <h5>Your smart guide to Egypt‘s hidden gems <br>
                     and timeless wonders </h5>

                <div class="social-media-icons w-25 d-flex justify-content-around mt-4">
                    <img [src]="facebookLogo" alt="facebookLogo" width="11" height="19">
                    <img [src]="instagramLogo" alt="instagramLogo" width="19" height="19">
                    <img [src]="twitterLogo" alt="twitterLogo" class="mt-1" width="19" height="15">
                    <img [src]="tiktokLogo" alt="youtubeLogo" class="mt-1" width="21" height="15">
                </div>
            </div>
            
            <div class="col-md-2">
                <h4 class="mb-3 fw-bold">Explore</h4>
                <div class="categories">
                    <h5 routerLink="">Home</h5>
                    <h5 routerLink="">Things to Do</h5>
                    <h5 routerLink="">Adventure Mode</h5>
                    <h5 routerLink="">Plan Your Trip</h5>
                    <h5 routerLink="">Wishlist</h5>
                </div>
            </div>
            <div class="col-md-2">
                <h4 class="mb-3 fw-bold">Emergency Contact</h4>
                <div class="categories">
                    <h5 routerLink="">Support{{user}}kemet.com</h5>
                    <h5 routerLink="">Ambulance ( 123 )</h5>
                    <h5 routerLink="">Firefighter ( 180 )</h5>
                    <h5 routerLink="">Police ( 122 )</h5>
                </div>
            </div>

            <!-- 
            <div class="col-md-2">
                <h4 class="mb-3">Product</h4>
                <div class="categories">
                    <h5 routerLink="">Features</h5>
                    <h5 routerLink="">Pricing</h5>
                    <h5 routerLink="">Case studies</h5>
                    <h5 routerLink="">Reviews</h5>
                    <h5 routerLink="">Updates</h5>
                </div>
            </div> -->

            <!-- <div class="col-md-2 ">
                <h4 class="mb-3">Company</h4>
                <div class="categories">
                    <h5 routerLink="">About</h5>
                    <h5 routerLink="">Contact us</h5>
                    <h5 routerLink="">Careers</h5>
                    <h5 routerLink="">Culture</h5>
                    <h5 routerLink="">Blog</h5>
                </div>
            </div> -->

            <!-- <div class="col-md-2">
                <h4 class="mb-3">Support</h4>
                <div class="categories">
                    <h5 routerLink="">Getting started</h5>
                    <h5 routerLink="">Help center</h5>
                    <h5 routerLink="">Server status</h5>
                    <h5 routerLink="">Report a bug</h5>
                    <h5 routerLink="">Chat support</h5>
                </div>
            </div> -->

            <div class="col-md-2 ">
                <h4 class="mb-3 fw-bold">Contacts us</h4>
                <div class="categories">
                   <div class="d-flex mb-3">
                    <img [src]="emailLogo" alt="emailLogo" class="me-1">
                    <h5 class="mb-0">{{email}}</h5>
                   </div>
                   <div class="d-flex mb-3">
                    <img [src]="phoneLogo" alt="phoneLogo" class="me-1">
                    <h5 class="mb-0">(414) 687 - 5892</h5>
                   </div>
                   <div class="d-flex mb-3  align-items-start">
                    <img [src]="locationLogo" alt="locationLogo" class="mt-1 me-1">
                    <h5 class="mb-0" style="line-height: 15px;">794 Mcallister St
                        San Francisco, 94102</h5>
                   </div>
                </div>
            </div>

            <div class="col-md-2 d-flex flex-column align-items-center justify-content-center">
                <h4 class="mb-3 fw-bold">Plan your trip with AI</h4>
                <div class="categories">
                    <button class="submit-btn w-100">plan</button>                   
                </div>
            </div>
            
        </div>

        <div class="row justify-content-around pb-4">
            <div class="col-md-4">
                <p>Copyright &copy; 2022 BRIX Templates</p>
            </div>
            <div class="col-md-5">
                <h5 style="font-weight: 400;">All Rights Reserved | <a routerLink="">Terms and Conditions</a> | <a routerLink="">Privacy Policy</a></h5>
            </div>
        </div>
    </div>
</footer>