<div class="background">
    <div class="decore" [ngStyle]="{ 'background-image': 'url(' + decoreImagePath + ')' }"></div>
    <div class="yellow-circle"></div>
    <div class="purple-circle"></div>    
    <div class="blue-circle"></div>    
    <div class="decoreblue" [ngStyle]="{ 'background-image': 'url(' + decoreBlueImagePath + ')' }"></div>
    <div class="second-purple-circle"></div> 
    <div class="second-blue-circle"></div>  
    <div class="third-purple-circle"></div> 
    <app-nav-auth/>
    <router-outlet></router-outlet>
    </div>
