<div class="section-wrapper">
  <!-- Carousel Reference -->
  <owl-carousel-o #owlCarousel [options]="customOptions" *ngIf="carouselReady && places?.length">
    <ng-container *ngFor="let place of places">
      <ng-template carouselSlide>
        <div class="card">
          <!-- Heart Icon -->
          <div class="wishlist-icon" (click)="toggleWishlist(place.placeID, $event)">
            <img 
              [src]="isInWishlist(place.placeID) ? 'assets/icons/heart-red.svg' : 'assets/icons/heart-outline.svg'"
              [alt]="isInWishlist(place.placeID) ? 'Remove from wishlist' : 'Add to wishlist'"
              class="heart-icon"
              [class.active]="isInWishlist(place.placeID)"
            >
          </div>

          <!-- Place Image -->
          <div
            *ngIf="place && place.imageURLs && place.imageURLs.$values && place.imageURLs.$values.length > 0"
            role="button"
            [routerLink]="['/places', place.placeID]"
          >
            <img
              [src]="place.imageURLs.$values[0]"
              [alt]="place.name"
              class="card-image"
            />
          </div>

          <!-- Title -->
          <h3 class="card-title">{{ place?.name }}</h3>

          <!-- Category -->
          <p class="category">{{ place?.categoryName || 'Uncategorized' }}</p>


<div class="stars">
  <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
    <svg width="40" height="40" viewBox="0 0 24 24" 
         [attr.fill]="i < getStarRating(place.averageRating) ? '#FFD700' : '#CCCCCC'">
      <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 
                       18.18 21.02 12 17.77 5.82 21.02 
                       7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
    </svg>
  </ng-container>
</div>


        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>

  <!-- Navigation Arrows -->
  <img
    *ngIf="carouselReady && places?.length"
    [src]="leftArrowSrc"
    class="nav-button left"
    aria-label="Previous slide"
    (click)="onPrev()"
  >
  <img
    *ngIf="carouselReady && places?.length"
    [src]="rightArrowSrc"
    class="nav-button right"
    aria-label="Next slide"
    (click)="onNext()"
  >
</div>
