<section>
    
    <div class="container vh-100 d-flex justify-content-center align-items-center search">

        <div class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="header text-center">
                    <h2 style="font-weight: 800; font-size: 35px;">Find Fun Wherever You Go!</h2>
                    <p >Find the Most Beautiful & Historic Places Around Egypt</p>
                </div>
                <app-search/>
            </div>
        </div>

        <div class="container-fluid px-4">
            <div class="row py-5">
                <div class="col-md-12 mt-0">
                    <h1 class="title" style="font-size: 2rem; font-weight: 800; color: #222;">Recommended for you</h1>
                    <p class="subtitle">Discover why Egypt’s ancient wonders rank among 2024’s Best of the Best Destinations.</p>
                    <app-recommended/>
                </div>
            </div>

            <div class="row py-5">
                <div class="col-md-12 mt-0">
                    <h1 class="title" style="font-size: 2rem; font-weight: 800; color: #222;">Top experience in cairo</h1>
                    <p class="subtitle">Discover thrilling adventures across Egypt—excitement awaits at every turn!</p>
                    <app-recommended/>
                </div>
            </div>

            <div class="row py-5">
                <div class="col-md-12 mt-0">
                    <h1 class="titlea" style="font-size: 2rem; font-weight: 800; color: #222;">Top attractions near me</h1>
                    <app-ancient-spotlight/>
                </div>
            </div>

            <div class="row py-5">
                <div class="col-md-12 mt-0">
                    <h1 class="title" style="font-size: 2rem; font-weight: 800; color: #222;">Top attractions in cairo</h1>
                    <p class="subtitle">Don’t miss out! These highly recommended experiences in Egypt are a must for any traveler!</p>
                    <app-ancient-spotlight/>
                </div>
            </div>

        </div>
    </div>


</section>