
$blur: 70px;
$font-family: 'Inter', sans-serif;
$black: #000000;
$gray: #777;
$white: #FFFFFF;
$yellow: #FAC817;
$purple: #6068FF;
$light-purple: #D5AEE4;
$blue: #59B1E6;

section {
  position: relative;
  background-color: #FFE4C2;
  z-index: 0; 
  padding-top:4rem;
  overflow: hidden;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.decore,
.decoreblue {
  position: absolute;
  background: no-repeat center center;
  background-size: contain;
  pointer-events: none;
  z-index: 1; 
}

.decore {
  width: 766px;
  height: 759px;
  top: -80PX;
  left: 770px;
  z-index: 0;
}

.decoreblue {
  width: 96px;
  height: 252px;
  top: 1670px;
  left: 1260px;
  z-index: 0;
}

.yellow-circle {
  width: 478.94px;
  height: 496.86px;
  background: radial-gradient(circle, #FAC817, transparent);
  position: absolute;
  z-index: 0;
  filter: blur(70px);
  opacity: 0.5;
  top: 610px;
  left: -84px;
  border-radius: 50%;
  pointer-events: none;
  -webkit-filter: blur(70px);
}

.purple-circle {
  width: 478.94px;
  height: 496.86px;
  background: radial-gradient(circle, #6068FF, transparent);
  position: absolute;
  z-index: 0;
  filter: blur(70px);
  opacity: 0.5;
  top: 1380px;
  right: -284px;
  border-radius: 50%;
  pointer-events: none;
}

.blue-circle {
  width: 354px;
  height: 367px;
  background: radial-gradient(circle, #59B1E6 , transparent);
  position: absolute;
  z-index: 0;
  filter: blur(70px);
  opacity: 0.8;
  top: 2150px;
  left: 10px;
  border-radius: 50%;
  pointer-events: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.second-purple-circle {
  width: 478.94px;
  height: 496.86px;
  background: radial-gradient(circle, #D5AEE4, transparent);
  position: absolute;
  z-index: 0;
  filter: blur(150px);
  opacity: 1;
  top: 2850px;
  right: -105px;
  border-radius: 50%;
  pointer-events: none;
  -webkit-filter: blur(150px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.second-blue-circle {
  width: 354px;
  height: 367px;
  background: radial-gradient(circle, #59B1E6 , transparent);
  position: absolute;
  z-index: 0;
  filter: blur(70px);
  opacity: 0.8;
  top: 3060px;
  right: -212px;
  border-radius: 50%;
  pointer-events: none;
}

.third-purple-circle {
  width: 478.94px;
  height: 496.86px;
  background: radial-gradient(circle, #D5AEE4 , transparent);
  position: absolute;
  z-index: 0;
  filter: blur(70px);
  opacity: 0.6;
  top: 3050px;
  right: -284px;
  border-radius: 50%;
  pointer-events: none;
}

.ancient-spotlight,
.title,
.subtitle {
  position: relative;
  z-index: 2; 
}


.title {
  font-size: 2rem;
  font-weight: 800;
  color: #222;
}

.subtitle {
  font-size: 25px;
  color: #1E1E1E;
  margin: 17px 0 26px;
}


.ancient-spotlight {
  position: relative;
  text-align: left;
  margin-top: 155px;

  .title-container {
    margin-left: 100px;
  }
  .rectangle {
    width: 110px;
    height: 76px;
    position: absolute;
    margin-left: 100PX;

    margin-top: -2rem ;
    border-radius: 30px 0px 10px 0px;
    background-color: #FFBD67;
    z-index: 0;
    -webkit-border-radius: 30px 0px 10px 0px;
    -moz-border-radius: 30px 0px 10px 0px;
    -ms-border-radius: 30px 0px 10px 0px;
    -o-border-radius: 30px 0px 10px 0px;
  }


}

.top-selling{
  margin-top: 155px ;
}

.new-adventure {
    position: relative;
    text-align: left;
    margin-top: 155px;
    .rectangle {
      width: 65px;
      height: 82px;
      position: absolute;
      margin-top: -2.5rem ;
      border-radius: 30px 0px 10px 0px;
      background-color: #59B1E6;
      z-index: 0;
      -webkit-border-radius: 30px 0px 10px 0px;
      -moz-border-radius: 30px 0px 10px 0px;
      -ms-border-radius: 30px 0px 10px 0px;
      -o-border-radius: 30px 0px 10px 0px;
    }
}

.highly-recommended {
  position: relative;
  text-align: left;
  margin-top: 155px;
  margin-bottom: 238px;
  .rectangle {
    width: 90px;
    height: 82px;
    position: absolute;
    margin-left: 120PX;
    margin-top: -2.5rem ;
    border-radius: 30px 0px 10px 0px;
    background-color: #F0BB00;
    z-index: 0;
    -webkit-border-radius: 30px 0px 10px 0px;
    -moz-border-radius: 30px 0px 10px 0px;
    -ms-border-radius: 30px 0px 10px 0px;
    -o-border-radius: 30px 0px 10px 0px;
}
  .title-container {
    margin-left: 120px;
  }
}