<section>
    <app-interests-form/>
    <div class="search-bar-container">
        <h1 class="search-title">Dream Your Next Trip</h1>
        <p class="search-subtitle">
          Find the Most Beautiful & Historic Places Around Egypt
        </p>
        <app-search></app-search>
    </div>
    <app-promote-events></app-promote-events>
    <app-ancient-spotlight></app-ancient-spotlight>
    <app-top-selling></app-top-selling>
    <app-new-adventure></app-new-adventure>
    <app-recommended></app-recommended>
    <router-outlet></router-outlet>
</section>

