<section class="home">
<div class="decore" [ngStyle]="{ 'background-image': 'url(' + decoreImagePath + ')' }"></div>
  <div class="yellow-circle"></div>
  <div class="purple-circle"></div>    
  <div class="blue-circle"></div>    
  <div class="decoreblue" [ngStyle]="{ 'background-image': 'url(' + decoreBlueImagePath + ')' }"></div>
  <div class="second-purple-circle"></div> 
  <div class="second-blue-circle"></div>  
  <div class="third-purple-circle"></div> 


    <app-interests-form/>

      <div class="search-bar-container">
          <h1 class="search-title">Dream Your Next Trip</h1>
          <p class="search-subtitle">
            Find the Most Beautiful & Historic Places Around Egypt
          </p>
          <app-search/>
      </div>

      <app-promote-events></app-promote-events>
          
          <div class="ancient-spotlight">
          <div class="rectangle"></div>
          <h1 class="title">Ancient spotlight</h1>
          <p class="subtitle">Discover why Egypt's ancient wonders rank among 2024’s Best of the Best Destinations.</p>
          <app-ancient-spotlight></app-ancient-spotlight>
        </div>
     

          <app-top-selling></app-top-selling>

          <div class="new-adventure">
          <div class="rectangle"></div>
          <h1 class="title">New Adventure, New Experience</h1>
          <p class="subtitle">Discover thrilling adventures across Egypt—excitement awaits at every turn!</p>
          <app-new-adventure></app-new-adventure>
          </div>

          <div class="highly-recommended">
          <div class="rectangle"></div>
          <h1 class="title" style="  font-size: 2rem; font-weight: 800; color: #222;">Highly Recommended</h1>
          <p class="subtitle">Don’t miss out! These highly recommended experiences in Egypt are a must for any traveler!</p>
          <app-recommended></app-recommended>
          </div>

  <router-outlet></router-outlet>

</section>
