<section class="py-5 py-md-5 min-vh-100">
    <div class="container px-3 px-md-5 py-5 py-md-5">
        <div class="payment-box row g-0 pt-5  rounded">
            <div class="col-12 col-md-6 bg-white shadow rounded-start p-3 p-md-5">
                <h2 class="h6 pb-2 border-bottom">Payment</h2>

                <form (ngSubmit)="pay()" novalidate>
                    <div class="form-item mb-3">
                      <label class="fw-bold mb-1">Card Details</label>
                      <div id="card-element" class="form-control" style="height: 40px; padding-top: 8px;"></div>
                    </div>
          
                    <button type="submit" class="btn btn-success w-100 mt-4" [disabled]="isPaying">
                        <span *ngIf="!isPaying">Checkout</span>
                        <div *ngIf="isPaying" class="spinner-border spinner-border-sm text-light" role="status">
                          <span class="visually-hidden">Processing...</span>
                        </div>
                    </button>
                    <p class="text-muted mt-3 text-center" style="font-size: 11px; line-height:14px;">
                      Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.
                    </p>
                </form>

            </div>

            <div class="col-12 col-md-6 bg-light shadow rounded-end p-3 p-md-5 text-black" *ngIf="!isLoading">
                <h2 class="h6 pb-2 border-bottom">Booking Summary</h2>
                <div class="booking-info d-flex flex-column flex-md-row mt-2 justify-content-between">
                    <div class="d-flex mb-2 mb-md-0">
                        <img [src]="packageDetails.imageURLs" alt="trip-photo" class="img-fluid" style="width: 70px; height: 70px; object-fit: cover;">
                        <p class="ms-2 col-md-9">{{packageDetails.planName}}: {{packageDetails.description}}</p>
                        <p class="text-muted" style="font-size: 12px;"> x{{numOfPeople}}</p>
                    </div>
                    <p class="col-md-2">{{bookedPrice | currency:'£'}}</p>
                </div>
                <div class="booking-details text-muted mx-auto col-12 col-md-8" style="font-size: 13px;">
                    <div class="d-flex justify-content-between">
                        <p class="mb-0">{{visitorType}}</p>
                        <p class="mb-0">{{selectedBookedDate | date:'MMM d, y' }}</p>
                    </div>
                    <p>{{selectedBoard}}</p>
                </div>
                <div class="border-bottom"></div>
                <div class="price hstack justify-content-between">
                    <div>
                        <h3 class="mt-1 mb-0">Total</h3>
                        <p class="text-muted" style="font-size: 12px;">Including £0.0 in taxes</p>
                    </div>
                    <p class="col-md-2 fw-bold">{{bookedPrice | currency:'£'}}</p>
                </div>
            </div>
            <div *ngIf="isLoading" class="col-12 col-md-6 bg-light rounded-end p-3 p-md-5 text-black text-center hstack justify-content-center">
                <div class="spinner-border text-success" role="status" style="width: 3rem; height: 3rem;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
      
        </div>
    </div>
</section>