section{
    background-color: var(--bejie-color);
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    top: -10px;
    
    @media screen and (max-width: 768px) {
        margin: 0;
        padding: 0;
        position: relative;
        top: -56px;
        min-height: calc(100vh + 56px);
    }
}