<section class="py-4" style="margin-top: -20px;">
    <div class="container py-5">
        <div class="row g-4">
            <!-- Card column - will stack on mobile -->
            <div class="col-12 col-md-4 col-lg-3">
                <div class="card rounded-2 p-4 w-100">
                    <img *ngIf="isPlaceReview; else activityImage" 
                        [src]="placeDetails.imageURLs.$values[0]" 
                        class="card-img-top img-fluid" 
                        alt="place_pic"
                        [routerLink]="['/places',placeID]"
                        style="cursor: pointer;">
                    <ng-template #activityImage>
                        <img [src]="activityDetails.imageURLs.$values[0]" 
                             class="card-img-top img-fluid" 
                             alt="activity_pic"
                             [routerLink]="['/activities',activityID]"
                             style="cursor: pointer;">
                    </ng-template>

                    <div class="card-body px-0">
                      <h5 class="card-text mb-1"*ngIf="isPlaceReview" style="font-size: clamp(16px, 2vw, 20px);">{{placeDetails.name}}</h5>
                      <h5 class="card-text mb-1"*ngIf="!isPlaceReview" style="font-size: clamp(16px, 2vw, 20px);">{{activityDetails.name}}</h5>

                      <p class="text-muted mb-0" style="font-size: clamp(14px, 1.5vw, 16px);" *ngIf="isPlaceReview">{{placeDetails.averageRating}} <span class="rate"><i class="fa-solid fa-star"></i></span></p>
                      <p class="text-muted mb-0" style="font-size: clamp(14px, 1.5vw, 16px);" *ngIf="!isPlaceReview">{{activityDetails.averageRating}} <span class="rate"><i class="fa-solid fa-star"></i></span></p>
                    </div>
                </div>
            </div>

            <!-- Form column -->
            <div class="col-12 col-md-8 col-lg-9">
                <!-- Q1 -->
                <p class="mb-0">How would you rate your experience ?</p>
                <div class="stars rate">
                    <span *ngFor="let star of stars; let i = index" class="rate"
                    (click)="rate(i + 1)" 
                    (mouseenter)="setHover(i + 1)" 
                    (mouseleave)="clearHover()">
                    <svg width="33" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"  
                        [ngStyle]="{ fill: i < (hoverRating || rating) ? '#FAC817' : '#FFE5C2' }" 
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                    </svg>
                    </span>
                </div>
                <!-- Q2 -->
                <p class="mb-0">When did you go ?</p>
                <div class="datepicker-container position-relative">
                    <button class="selection-btn mt-1" (click)="d.toggle()">Select Date</button>
                    <input type="text" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelect($event)" class="visually-hidden" />
                    <p *ngIf="selectedDate" class="selected-date ms-3 fw-bold mb-1">{{ selectedDate | date: 'longDate' }}</p>
                </div>
                <!-- Q3 -->
                <p class="mb-1">who did you go ? </p>
                <!-- <span class="text-muted" style="font-size: 10px;">(optional)</span> -->
                <div class="chocies">
                    <button class="selection-btn me-1 mb-2"
                    *ngFor="let option of options"
                    [class.selected]="selectedOption === option"
                    (click)="selectOption(option)">
                    {{ option }}
                    </button>
                </div>
                <!-- review -->
                <p class="mb-1">Write a review</p>
                <textarea name="review" id="review" class="review w-100 p-2" rows="5" (input)="onReviewChange($event)" [(ngModel)]="reviewText"></textarea>
                <!-- title of review -->
                <p class="mb-1">Title your review</p>
                <input type="text" class="p-2 w-100" [(ngModel)]="reviewTitle">
                <!-- add photo -->
                <!-- <p class="mb-1">Add some photos <span class="text-muted" style="font-size: 10px;">(optional)</span></p>
                <div class="custom-file-upload w-50 p-5">
                    <input type="file" id="fileInput" class="d-none" (change)="onFileSelected($event)" accept="image/*">
                    <label for="fileInput">
                        <i class="fa-solid fa-plus"></i>
                    </label>
                </div>
                <div class="preview-container">
                    <img *ngIf="selectedImage" [src]="selectedImage" class="preview-img" />
                </div> -->
                <!-- submit -->
                <div>
                    <button class="submit-btn fw-bold w-100 mt-4" type="submit" (click)="submitReview()" [disabled]="!isAdded || loading">
                        <span *ngIf="!loading">Submit</span>
                        <span *ngIf="loading">
                            <i class="spinner-border spinner-border-sm"></i> Loading...
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
