section{
    background-color: var(--main-color);
}

.card{
    border-color: var(--secondary-color);
    box-shadow: 0 4px 8px rgba(27, 25, 25, 0.1);
    img{
        border: 1px solid var(--secondary-color);
        border-radius: 0;
    }
}

// rating
.stars {
    font-size: 25px;
    cursor: pointer;
  }
  
  .star i {
    transition: color 0.3s;
    color: gray; 
  }
  
  .star i.fa-solid {
    color: #FAC817; 
  }
  


// review
.review, input, .custom-file-upload{
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    resize: none;
}
// review photos
.custom-file-upload{
    background-color: var(--white);
    label {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        font-size: 25px;
        cursor: pointer;
        i{
            border: 2px solid var(--black);
            padding: 5px;
            border-radius: 10px;
        }
    }
}
.preview-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;

    .preview-img {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        object-fit: cover;
        border: 1px solid var(--secondary-color);
    }
}
