.search-bar-container {
    text-align: center;
    padding: 1rem 2rem;
    color: var(--black);
    .search-title {
        font-size: 35px;
        font-weight: 800;
        line-height: 42.36px;
        color: var(--black);
        margin: 0 auto 13px;
    } 
      .search-subtitle {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
        color: var(--gray);
        margin-bottom: 17px;
    }
}

.content-items{
    position: relative;
    border: 1px solid var(--secondary-color);
    border-radius: 10px ;
}
.close-btn {
    position: absolute;
    top: 8px;  
    right: 8px; 
    border: 1px solid var(--black);
    border-radius: 10px;
    background-color: var(--white);
    font-size: 10px;
    cursor: pointer;
}

// past reviews section
#past-user-reviews{
    background-color: var(--main-color);
}