<section>
    <div class="container my-5 pt-5 pb-3 px-5 ">
        <div class="row">
            <div class="col">
                <h2 style="font-weight: 800; font-size: 36px;">Choose your interests</h2>
                <h5 style="font-weight: 400; font-size: 18px;">Get better travel recommendations</h5>
                <div class="interests-options mt-4 mb-5">
                    <button class="action-button px-2 me-1 mb-1">Adventurer</button>
                    <button class="action-button px-2 me-1 mb-1">Culture Seeker</button>
                    <button class="action-button px-2 me-1 mb-1">Solo</button>
                    <button class="action-button px-2 me-1 mb-1">Relaxation Lover</button>
                    <button class="action-button px-2 me-1 mb-1">Family</button>
                    <button class="action-button px-2 me-1 mb-1">Budget Backpacker</button>
                </div>
                <div class="move-buttons d-flex mt-5">
                    <button class="w-100 me-2">Skip</button>
                    <button class="w-100">Next</button>
                </div>
            </div>
        </div>
    </div>
</section>