.promote-events-carousel {
    position: relative;
    width: 1312px;
    height: 665px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.promote-events-carousel .carousel-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.promote-events-carousel .carousel-images {
    display: flex;
    transition: transform 1s ease-in-out;
}

.promote-events-carousel .carousel-image {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promote-events-carousel .carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
