<section class="py-5">
    <div class="container">

        <div class="row">
            <div class="col-md-6 mt-5">
                <h1 class="fw-bolder">{{placeDetails.name}}</h1>
                <div class="rating d-flex">
                <span *ngFor="let star of [].constructor(5); let i = index" class="rate">
                <!-- <i class="fa-regular fa-star"></i> -->
                <svg width="33" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"  [style.fill]="i < placeDetails.ratingsCount ? '#FAC817' : '#FFE5C2'"
                stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                </svg>
                </span>
                <p style="font-size: 20px;" class="ms-1 mb-0">{{placeDetails.reviews.$values}} reviews</p>
                <img [src]="blackDot" alt="dot" class="mx-2 mt-2">
                <p style="font-size: 20px;" class="mb-0">Historic Walking Area</p>
                </div>
                <div class="mt-2 ">
                    <a routerLink="/write-review" class="text-decoration-none text-black review-link">
                        <span class="review" style="font-size: 20px; font-weight: 500;">Write a review</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row gap-4 mt-3">

            <div class="col-md-4 p-4 about bg-white">
                <h5 class="fw-bold">About</h5>
                <div class="about-content">
                    <p style="line-height: 24.2px;" >{{placeDetails.description}}</p>
                </div>
                <div class="about-items">
                    <div class="d-flex align-items-center">
                        <i class="fa-regular fa-clock"></i>
                        <p class="mb-0 ms-2">Duration 1.5-2 hours</p>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                        <img [src]="ticket" alt="ticket" style="height: 20px; width: 20px;">
                        <p class="mb-0 ms-1">Free entry</p>
                    </div>
                </div>

                <h5 class="fw-bold pt-2">Tours and Experiences</h5>
                <p style="line-height: 24.2px;">Explore different ways to experience
                    this place.</p>
                <button class="btn-info w-100 py-3 mt-5">See all options</button>

            </div>

            <div class="col-md-7 photos">
              <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                <!-- Large Image Display -->
                <div class="carousel-inner ">
                  <div class="carousel-item active">
                    <img [src]="placeDetails.imageURLs?.$values[0]" class="d-block w-100 img-lg" alt="Large Image" style="border-radius: 20px;">
                  </div>
                </div>
            
                <!-- Thumbnail Carousel (Scrollable) -->
                <div class="carousel-thumbnails d-flex mt-3" style="overflow-x: auto;">
                  <div *ngFor="let imgUrl of placeDetails.imageURLs?.$values; let i = index" class="thumbnail-item" (click)="updateLargeImage(i)">
                    <img [src]="imgUrl" class="img-fluid rounded mb-2" style="cursor: pointer; max-width: 80px; margin-right: 10px;" alt="Thumbnail">
                  </div>
                </div>
              </div>
            </div>
            
    

        </div>

    </div>
    

</section>