.FAQ{
    div{
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 10px;
        .comment{
            color: var(--secondary-color);
        }
        i{
            width: 70px;
            height: 70px;
            background-color: #D9D9D9;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
        .mic{
            transform: translateY(-100%);
            &.hidden {
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}