<div class="FAQ" >
    <div class="iframe-wrapper" [class.hidden]="!showChat">
   
        <iframe
        title="KEMET"
        src="https://KEMET-DUByxP.ai.copilot.live"
        style="border-radius: 0px 30px; border-top-left-radius: 25px;"
        loading="lazy"
        allow="microphone;camera;speaker;clipboard-read;clipboard-write;geolocation;"
        width="650px"
        height="600px"
      ></iframe>
    </div>
    <div class="icon-wrapper">
        <i class="fa-regular fa-comment-dots comment" role="button" (click)="toggleChatBot()"></i>
    </div>
</div>
