@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$input-border-color: #FAC817;
$gap-spacing: 20px;
$padding-large: 4rem;
$padding-small: 10px;
$label-bottom-padding: 5px;
$font-size: 16px;
$line-height: 18px;

body {
  font-family: $primary-font;
  position: relative;
  
}

.color {
  height: 526px;
  width: 532px;
  background: radial-gradient(circle, #FAC817, transparent);
  position: absolute;
  z-index: 0;
  filter: blur(70px);
  opacity: 0.5;
  top: 45px;
  left: 46px;
  border-radius: 50%;
  pointer-events: none;
  -webkit-filter: blur(70px);
}




input, 
label, 
h2, 
h6, 
button, 
.login-logo, 
.form-item, 
.join-us-link, 
.small-hr, 
.arrow-left, 
.alert {
  position: relative; 
  z-index: 1; 
}
input {
  border: 1px solid #FAC817;
  border-radius: 15px;
  background-color: #fff;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.form-item {
  position: relative; 
}

.password-icon {
  position: absolute;
  top: -30px; 
  left: 10px;  
  cursor: pointer;
  z-index: 99; 
}


  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: $primary-font;
    position: relative;
  }
  
  
  input, 
  label, 
  h2, 
  h6, 
  button, 
  .login-logo, 
  .form-item, 
  .join-us-link, 
  .small-hr, 
  .arrow-left, 
  .alert {
    position: relative;
    z-index: 1;
  }
  
  input {
    border: 1px solid $input-border-color;
    border-radius: 15px;
    background-color: #fff;
    padding: $padding-small;
  
    &:focus {
      outline: none;
      border: $input-border-color;
      box-shadow: 0 0 5px $input-border-color;
    }
  }
  
  .loginform {
    padding: $padding-large;
  
    .login-logo {
      width: 120px;
      height: auto;
      margin-left: -7rem;
      left: 47px;
      border-radius: 20px 0px 0px 0px;
      margin-bottom: 45px;
    }
  }
  
  h2 {
    margin-bottom: 14px;
  }
  
  h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #718096;
    margin: 11px 22px;
  }
  
  label {
    padding-bottom: $label-bottom-padding;
    font-weight: 400;
    font-size: $font-size;
    line-height: $line-height;
    margin-top: 20px;
  }
  
  .line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .small-hr {
    width: 90px;
    border-top: 2px solid #111;
    margin-bottom: 20px;
  }
  
  .join-us-link {
    font-size: $font-size;
    font-weight: 400;
    line-height: $line-height;
    text-align: center;
    display: grid;
    place-items: center;
    margin-bottom: -3rem;
    cursor: pointer;
    color: #000;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  a {
    color: #000;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .btn {
    display: grid;
    cursor: default;
    place-items: center;
  }
  
  .login-btn {
    width: 249px;
    height: 42px;
    background-color: #FFBD67;
    color: #000000;
    font-size: $font-size;
    font-weight: 500;
    line-height: $line-height;
    text-align: center;
    border: 2px solid $input-border-color;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 24px;
  
    &:disabled {
      background-color: #FFBD67;
      cursor: not-allowed;
    }
  }
  
  .alert {
    color: red;
    height: 1px;
    padding: 0;
  }
  
  .arrow-left {
    position: absolute;
    top: 29px;
    left: 16.25px;
    opacity: 1;
    cursor: pointer;
  
    &:hover {
      opacity: 1;
    }
  
  

  &:focus {
    outline: none;
    border: $input-border-color;
    box-shadow: 0 0 5px $input-border-color;
  }
  }

.loginform {
  padding: $padding-large;
  

  .login-logo {
    width: 120px;
    height: auto;
    margin-left: -7rem;
    left: 47px;
    border-radius: 20px 0px 0px 0px;
    margin-bottom: 45px;
  }
}

h2 {
  margin-bottom: 14px;
}

h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #718096;
  margin: 11px 22px;
}

label {
  padding-bottom: $label-bottom-padding;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  margin-top: 20px;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.small-hr {
  width: 90px;
  border-top: 2px solid #111;
  margin-bottom: 20px;
}

.join-us-link {
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
  text-align: center;
  display: grid;
  place-items: center;
  margin-bottom: -3rem;
  cursor: pointer;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: grid;
  place-items: center;
}

.login-btn {
  width: 249px;
  height: 42px;
  background-color: #FFBD67;
  color: #000000;
  font-size: $font-size;
  font-weight: 500;
  line-height: $line-height;
  text-align: center;
  border: 2px solid $input-border-color;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 24px;

  &:disabled {
    background-color: #FFBD67;
    cursor: not-allowed;
  }
}

.alert {
  color: red;
  height: 1px;
  padding: 0;
  margin-bottom:2rem ;
}

.arrow-left {
  position: absolute;
  top: 29px;
  left: 16.25px;
  opacity: 1;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.forgot-password-form {
  padding: 83px;
  margin-left: 34px;
  width: 450px;
  margin-top: 63px;
  height: 480px;
  

  h2{
    font-weight: 700;
    font-family: $primary-font;
    size: 30px;
    line-height: 39px;
    margin-bottom: 13px;
  }
  p{
    margin-top: 0px;
    color: #000000B2;
  }
  .form-item {
    margin-bottom: 1rem;
    width: 353px;
  }
  
  .login-btn {
    margin-top: 1rem;
    width: 353px;
  }
  .arrow-forget {
    height: 39px;
    width: 39px;
    border-radius: 10px;  
    border: 1px solid #D8DADC;  
    margin-left: 52px;
    margin-top: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  
  }
  .verification-form {
    padding: 83px;
    margin-left: 34px;
    width: 520px;
    margin-top: 63px;
    height: 480px;
    
    span {
      font-weight: 500;
      line-height: 20px; // Fixed typo: "PX" to "px"
    }
  
    h2 {
      font-weight: 700;
      font-family: $primary-font;
      font-size: 30px; // Fixed "size" to "font-size"
      line-height: 39px;
      margin-bottom: 13px;
    }
  
    p {
      font-weight: 400;
      line-height: 20px; // Fixed typo: "PX" to "px"
      margin-top: 0px;
      color: #000000b2;
    }
  
    .form-item {
      margin-bottom: 1rem;
      width: 353px;
    }
  
    ng-otp-input {
      display: flex;
      gap: 10px;
      justify-content: center;
  
      input {
        margin: 20px 0;
        width: 51px;
        height: 51px;
        border-radius: 15px;
        border: 1px solid #426990;
        text-align: center;
        font-size: 24px;
        outline: none;
        box-shadow: none;
        transition: all 0.3s ease;
  
        &:focus {
          border: 1px solid #000000;
          box-shadow: none;
        }
  
        &::placeholder {
          color: #aaa; 
        }
      }
    }
  
    .verify-btn {
      margin-top: 1rem;
      width: 353px;
      margin-bottom: 38px;
    }
  
    .arrow-forget {
      height: 39px;
      width: 39px;
      border-radius: 10px;
      border: 1px solid #d8dadc;
      margin-left: 52px;
      margin-top: 50px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  
    .resend {
      text-align: center;
      display: block;
      margin-top: 20px;
  
      a {
        font-weight: 600;
        color: #000000b2;
        text-decoration: none;
      }
  
      span {
        font-size: 14px;
      }
    }
  }


// Styling individual input fields inside ng-otp-input
::ng-deep ng-otp-input input {
  padding: 10px;
  border: 1px solid #D8DADC;
  border-radius: 25px;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

