<div class="modal login-modal" [ngClass]="{'show': showModal}" (click)="closeOnOutsideClick($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <form *ngIf="showLoginForm" (ngSubmit)="handleLogin()" [formGroup]="loginForm" class="loginform">
      <div class="color"></div>
      <img class="login-logo" [src]="loginLogoSrc" [alt]="loginLogoAlt">
      <h2>Welcome Back</h2>

      <div class="form-item">
        <label for="email">Email Address</label>
        <input class="form-control" formControlName="email" type="email" id="email" />
        <div *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || (loginForm.get('email')?.value?.length ?? 0) > 0)">
          <p class="text-danger" *ngIf="loginForm.get('email')?.getError('required')">Email is required</p>
          <p class="text-danger" *ngIf="loginForm.get('email')?.getError('email')">Invalid email format</p>
        </div>
      </div>

      <div class="form-item">
        <label for="password">Password</label>
        <div class="password-icon" (click)="togglePasswordVisibility()">
          <i class="iconly-Show-Broken"></i>
        </div>
        <input 
          class="form-control" 
          formControlName="password" 
          [type]="passwordVisible ? 'text' : 'password'" 
          id="password" 
        />
        <div *ngIf="loginForm.get('password')?.errors && 
            (loginForm.get('password')?.touched || (loginForm.get('password')?.value?.length ?? 0) > 0)">
            
          <p class="text-danger" *ngIf="loginForm.get('password')?.getError('required')">Password is required</p>
          <p class="text-danger" *ngIf="loginForm.get('password')?.getError('minlength')">Password must be at least 6 characters</p>
        </div>
      </div>
      
      <div *ngIf="errorMsg" class="alert text-danger mt-0">
        {{ errorMsg }}
      </div>

      <a class="forgot-password" (click)="openForgotPasswordForm()">Forgot password?</a>
      


<div class="form-action">
  <button [disabled]="loginForm.invalid" class="login-btn" type="submit">
    Sign in <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
  </button>
</div>

      <div class="line-container">
        <hr class="small-hr">
        <h6>New member?</h6>
        <hr class="small-hr">
      </div>

      <div class="join-us-link">
        <a (click)="openRegister()">Join us now</a>
      </div>
      
    </form>

    <div *ngIf="showRegisterForm" class="modal-login">
      <img src="../../../assets/icons/chevron-left.svg" alt="Back" class="arrow-left" (click)="backToLogin()" />
      <app-register></app-register>
    </div>

    <div *ngIf="showForgotPasswordForm">
      <img src="../../../assets/icons/chevron-left.svg" alt="Back" class="arrow-left" (click)="backToLogin()" />
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="handleForgotPassword()" class="forgot-password-form d-flex flex-column align-items-center justify-content-center">
        <div class="color"></div>
        <h2>Forgot Password?</h2>
        <p>Don’t worry! It happens. Please enter the email associated with your account.</p>

        <div class="form-item">
          <label for="forgot-email">Email Address</label>
          <input 
            class="form-control" 
            formControlName="email" 
            type="email" 
            id="email" 
          />
          <div *ngIf="forgotPasswordForm.get('email')?.errors && 
                      (forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.value.length > 0)" 
               class="alert">
            <p class="text-danger" *ngIf="forgotPasswordForm.get('email')?.getError('required')">Email is required</p>
            <p  class="text-danger" *ngIf="forgotPasswordForm.get('email')?.getError('email')">Invalid email format</p>
          </div>
        </div>
        <button [disabled]="forgotPasswordForm.invalid" class="login-btn" type="submit">
          Send Code <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
        </button>

      </form>
    </div>

    <!-- Verification Form -->
    <div *ngIf="showVerificationForm">
      <form (ngSubmit)="handleVerification()" class="verification-form">
        <img src="../../../assets/icons/chevron-left.svg" class="arrow-left" (click)="backToLogin()">
        <h2>Please check your email</h2>
        <p>We’ve sent a code to <span>{{ forgotPasswordEmail }}</span></p>
        <div class="form-item">
          <ng-otp-input [config]="otpConfig" (onInputChange)="onOtpChange($event)"></ng-otp-input>
        </div>
        <button [disabled]="verificationForm.invalid" class="login-btn verify-btn" type="submit">
          Verify <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
        </button>
        <div class="resend-container">
          <span class="resend-link" [class.disabled]="isTimerActive" (click)="!isTimerActive && resendCode()">
            Send code again
          </span>
          <span class="timer" *ngIf="isTimerActive">
            {{ formatTimer(timerCount) }}
          </span>
        </div>
      </form>
    </div>

    <!-- Reset Password Form -->
    <div *ngIf="showResetPasswordForm">
      <div class="reset-password-section">
        <img src="../../../assets/icons/chevron-left.svg" class="arrow-left" (click)="backToVerification()">
        <h2>Reset Password</h2>
        <p>Please type something you’ll remember</p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="handleResetPassword()">
          <div class="form-item">
            <label>New Password</label>
            <input formControlName="newPassword" type="password" placeholder="Must be at least 6 characters">
          </div>
          <div *ngIf="resetPasswordForm.get('newPassword')?.errors && 
                      (resetPasswordForm.get('newPassword')?.touched || 
                      (resetPasswordForm.get('newPassword')?.value?.length ?? 0) > 0)">
            <p class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
              Password is required
            </p>
            <p class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
              Password must be at least 6 characters
            </p>
          </div>

          <!-- Confirm Password -->
          <div class="form-item">
            <label>Confirm Password</label>
            <input formControlName="confirmPassword" type="password" placeholder="Confirm your password">
          </div>
          <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors && 
                      (resetPasswordForm.get('confirmPassword')?.touched || 
                      (resetPasswordForm.get('confirmPassword')?.value?.length ?? 0) > 0)" class="alert">
            <p class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
              Confirm Password is required
            </p>
          </div>

          <!-- Password Mismatch Error -->
          <div class="text-danger" *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.touched">
            <p>Passwords do not match</p>
          </div>

          <button type="submit" [disabled]="resetPasswordForm.invalid" class="login-btn">
            Reset Password
          </button> 
        </form>
      </div>
    </div>
<div *ngIf="showPasswordChangedSuccess" class="success-form">
  <div class="color"></div>
  <h2>Password changed</h2>
  <p>Your password has been changed successfully</p>
  
  <button class="login-btn" (click)="backToLogin()">
    Back to login
  </button>
</div>
