<section class="py-5">
    <!-- package info -->
    <div class="container ms-5 ps-5 px-0 pt-5 mt-3">
        <div class="row ms-4 mt-5">
            <div class="col-md-12 px-0">
                <h1 class="fw-bolder">{{packageDetails.planName}}: {{packageDetails.description}}</h1>
                <div class="rating d-flex">
                    <p class="fw-bold me-1 mb-0" style="font-size: 20px;">{{packageDetails.averageRating}}</p>
                    <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" class="rate">
                        <!-- Full Star -->
                        <svg *ngIf="i + 1 <= packageDetails.averageRating" width="24" height="24" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg" fill="#FAC817" stroke="currentColor"
                             stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                          <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                        </svg>
                      
                        <!-- Half Star -->
                        <svg *ngIf="i < packageDetails.averageRating && i + 1 > packageDetails.averageRating" width="24" height="24" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="1"
                             stroke-linecap="round" stroke-linejoin="round">
                          <defs>
                            <linearGradient id="half-fill" x1="0" x2="1" y1="0" y2="0">
                              <stop offset="50%" stop-color="#FAC817"/>
                              <stop offset="50%" stop-color="#FFE5C2"/>
                            </linearGradient>
                          </defs>
                          <polygon fill="url(#half-fill)" points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                        </svg>
                          <!-- Empty Star -->
                          <svg *ngIf="i + 1 > packageDetails.averageRating" width="24" height="24" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" fill="#FFE5C2" stroke="currentColor"
                            stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                        </svg>
                    </span>
                </div>
                <div class="mt-2 ">
                    <button (click)="openModal()" class="text-decoration-none border-0 text-black review-link">
                        <span class="review-button" style="font-size: 20px; font-weight: 500;">Write a review</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- package photos -->
    <div class="container-fluid">
        <div class="row package-photos mt-3 gap-1 mx-5 justify-content-center">
            <div class="col-md-5 p-0 photo ">
                <img [src]="packageDetails.imageURLs" alt="package-photo" class="w-100">
            </div>
            <div class="col-md-3 p-0 photo">
                <img src="../../../assets/img/agency6.jpg" alt="package-photo" class="w-100" style="object-fit: cover;">
            </div>
            <div class="col-md-3 p-0 photo">
                <div class="photo-stack d-flex flex-column gap-1">
                    <img src="../../../assets/img/agency3.jpg" alt="package-photo" class="w-100" style="object-fit: cover;">
                    <img src="../../../assets/img/agency8.jpg" alt="package-photo" class="w-100" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>

    <!-- Agency details & Booking -->
    <div class="container-fluid">
        <div class="row mx-5 gap-1 justify-content-center">

            <div class="col-md-8">
                <div class="details bg-white mt-5 p-3">
                    <div class="agency-pp d-flex w-50">
                        <img [src]=" 'https://kemet-server.runasp.net' +travelAgencyData.profileURl" alt="agency-profile-pic" class="rounded-circle" routerLink="/travelAgency-profile"  style="cursor: pointer;" >
                        <div class="d-block ms-3">
                            <p class="fw-bolder pt-2 mb-1" routerLink="/travelAgency-profile"  style="cursor: pointer;" >{{packageDetails.travelAgencyName}}</p>
                            <p><i class="fa-solid fa-location-dot"></i> <span class="text-muted"> {{packageDetails.travelAgencyAddress}}</span></p>
                        </div>
                    </div>
                    <div class="desc">
                        <p class="lead px-2 py-1 mt-2 " style="font-size: 15px; line-height: 10x; font-weight: 500;">{{packageDetails.travelAgencyDescription}}</p>
                    </div>
                </div>
            </div>

            <!-- book a trip -->
            <div class="col-md-3">  

                <div class="booking bg-white mt-5 p-3">
                    <label for="dateSelection" class="form-label fw-bold d-none"></label>
                    <input type="date" id="dateSelection" class="form-control dateSelection mb-3" [(ngModel)]="bookData.reserveDate">
                    <div class="d-flex gap-2">
                        <div ngbDropdown class="w-50">
                            <button class="btn btn-light w-100 d-flex align-items-center justify-content-between" 
                                    id="nationalityDropdown" ngbDropdownToggle>
                              <span><i class="fa-regular fa-font-awesome me-2"></i>{{selectedNationality}}</span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="nationalityDropdown">
                              <button ngbDropdownItem (click)="updateNationality('Egyptian')">Egyptian</button>
                              <button ngbDropdownItem (click)="updateNationality('Foreigner')">Foreigner</button>
                            </div>
                        </div>
            
                        <div ngbDropdown class="w-50">
                            <button class="btn btn-light w-100 d-flex align-items-center justify-content-between" 
                                    id="nationalityDropdown" ngbDropdownToggle>
                              <span><i class="fa-regular fa-user me-2"></i>{{selectedUserType}}</span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="nationalityDropdown">
                              <button ngbDropdownItem (click)="updateUserType('Adult')">Adult</button>
                              <button ngbDropdownItem (click)="updateUserType('Student')">Student</button>
                            </div>
                        </div>
                    </div>
                    <label for="Board" class="fw-bold my-3" style="font-size: 16px;">Board:</label>
                    <div class="d-flex gap-2 justify-content-center">
                        <button class="btn" 
                                [ngClass]="{'isSelected': selectedBoard === 'Full Board', 'notSelected': selectedBoard !== 'Full Board'}"
                                (click)="updateBoard('Full Board')">
                            Full Board
                        </button>
                        
                        <button class="btn" 
                                [ngClass]="{'isSelected': selectedBoard === 'Half Board', 'notSelected': selectedBoard !== 'Half Board'}"
                                (click)="updateBoard('Half Board')">
                            Half Board
                        </button>
                        
                        <button class="btn" 
                                [ngClass]="{'isSelected': selectedBoard === 'No Board', 'notSelected': selectedBoard !== 'No Board'}"
                                (click)="updateBoard('No Board')">
                            No Board
                        </button>
                    </div>

                    <div class="my-3">
                        <label for="peopleCount" class=" form-label fw-bold">Number of People:</label>
                        <input type="number" id="peopleCount" class="peopleCount form-control" [(ngModel)]="bookData.numOfPeople" name="numOfPeople" min="1" (input)="updateBookedPrice()">
                    </div>

                    <p class="text-center mt-3 mb-0 fw-bold">Total Price: {{ bookedPrice | currency:'EGP' }}</p>

                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn book-btn fw-bolder" (click)="bookTrip()">Book</button>
                    </div>
                </div>

                <div class="tourist-prices bg-white mt-3 d-flex">
                    <i class="fa-solid fa-earth-americas p-3"></i>
                    <div class="d-block">
                        <p class="mt-3" style="font-size: 20px; font-weight: 500;">Tourist</p>  
                        <p class="text-muted">Adult : {{packageDetails.touristAdult | currency:'EGP' }}</p> 
                        <p class="text-muted">Student : {{packageDetails.touristStudent | currency:'EGP' }}</p> 
                    </div>
                </div>
                <div class="egyptian-prices bg-white mt-3 d-flex">
                    <img [src]="egyptFlag" alt="Egypt Flag" class="p-3" style="width: 125px;">
                    <div class="d-block">
                        <p class="mt-3" style="font-size: 20px; font-weight: 500;">Egyptian</p>  
                        <p class="text-muted">Adult : {{packageDetails.egyptianAdult | currency:'EGP' }}</p> 
                        <p class="text-muted">Student : {{packageDetails.egyptianStudent | currency:'EGP' }}</p> 
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- reviews -->
    <div class="container py-5">
        <div class="row gap-3 mt-5 align-content-center justify-content-center">
  
            <div class="col-md-8">
  
                <div class="search-bar p-2">
                    <img [src]="searchIcon" alt="searchIcon" class="search-icon">
                    <input
                    type="search"
                    class="search-input w-100"
                    placeholder="Search reviews"
                    [(ngModel)]="searchText"
                    (input)="onSearch()"
                  />
                  </div>
    
                  <div *ngIf="errorMessage" class="error-message text-center text-danger pt-2">
                    {{ errorMessage }}
                  </div>
                  <div *ngIf="searchResults.length > 0" id="searchResults">
                    <div *ngFor="let result of searchResults" class="result-item  text-center ">
                      {{ result.name }}
                    </div>
                  </div>

                <div class="filter-reviews ">
                    <div class="d-flex justify-content-between">
                        <div>
                            <button class="mt-3 me-2" (click)="toggleFilterOptions = !toggleFilterOptions">Filters</button>
                            <button class="mt-3" (click)="sortByMostRecent()">Most Recent</button>
                        </div>
                      
                        <button class="mt-3 mx-1" (click)="resetFilters()">Reset</button>
                    </div>
                    
                  
                    <div *ngIf="toggleFilterOptions" class="mt-2 ">
                      <button class="me-2 btn btn-outline-secondary" (click)="filterByRating('high')">Highest Rating</button>
                      <button class="btn btn-outline-secondary" (click)="filterByRating('low')">Lowest Rating</button>
                    </div>
                </div>
                
                <div class="reviews-container " style="max-height: 400px; overflow-y: auto;">
                    <div class="reviews mt-3  bg-light-subtle p-4" 
                        *ngFor="let review of reviewData | reviewFilter: searchText" 
                        style="border-radius: 20px;">
                                    
                        <div class="profile-info d-flex justify-content-between">
                            <div class="d-flex">
                                <img [src]="profileImg || review.userImageURl" class="profile-img rounded-circle" 
                                    alt="profile-pic" >
                                <div class="ms-2 d-block">
                                    <p class="fw-bold m-0">{{review.username}}</p>
                                    <p class="m-0">{{review.nationality}}</p>
                                    <div class="rating">
                                        <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" class="rate">
                                            <svg width="24" height="24" viewBox="0 0 24 24"
                                                xmlns="http://www.w3.org/2000/svg"
                                                [style.fill]="i < review.rating ? '#FAC817' : '#FFFFFF'"
                                                stroke="currentColor" stroke-width="1"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <i class="fa-solid fa-ellipsis" role="button"></i>
                            </div>
                        </div>
                
                        <div class="review-content">
                            <p class="mt-3 mb-0" style="font-weight: 600;">{{review.reviewTitle}}</p>
                            <p style="font-size: 12px; line-height: 10px;">{{review.date | date: 'MMMM y' }} <span class="fw-bolder" style="font-size: 20px;">.</span> {{review.visitorType}}</p>
                            <p style="line-height: 16.94px; font-size: 14px;">
                                {{review.comment}}
                            </p>
                        </div>
                
                        <div class="review-info">
                            <p class="m-0" style="font-size: 11px; line-height: 13.31px;">Written {{review.createdAt | date: 'MMMM d, y' }}</p>
                        </div>
                
                    </div>
                
                    <p *ngIf="reviewData.length === 0" class="mt-4 text-center text-danger">No reviews yet.</p>

                </div>

            </div>

        </div>
      
  
    </div>
 
    <!-- reviews box -->
   <div *ngIf="showModal" class="overlay" (click)="closeModal($event)">
    <div class="modal-container text-center" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="showModal = false"><i class="fa-solid fa-xmark"></i></button>

        <!-- Q1: Rating -->
        <p class="mb-0 mt-4">How would you rate your experience?</p>
        <div class="stars rate mb-2">
            <span *ngFor="let star of stars; let i = index" class="rate"
                (click)="rate(i + 1)" 
                (mouseenter)="setHover(i + 1)" 
                (mouseleave)="clearHover()">
                <svg width="33" height="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"  
                    [ngStyle]="{ fill: i < (hoverRating || rating) ? '#FAC817' : '#FFFFFF' }" 
                    stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                </svg>
            </span>
        </div>

        <!-- Q2: Date Picker -->
        <p class="mb-0">When did you go?</p>
        <div class="datepicker-container position-relative mb-2">
            <button class="selection-btn mt-1 w-50" (click)="d.toggle()">Select Date</button>
            <input type="text" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelect($event)" class="visually-hidden" />
            <p *ngIf="selectedDate" class="selected-date ms-3 fw-bold mb-1">{{ selectedDate | date: 'longDate' }}</p>
        </div>

        <p class="mb-1">who did you go ? </p>
        <div class="chocies">
            <button class="selection-btn me-2 mb-2"
            *ngFor="let option of options"
            [class.selected]="selectedOption === option"
            (click)="selectOption(option)">
            {{ option }}
            </button>
        </div>

        <!-- Review Textarea -->
        <p class="mb-1 mt-3">Write a review</p>
        <textarea name="review" class="review w-100 p-2" rows="5" [(ngModel)]="reviewText"></textarea>

        <!-- title of review -->
        <p class="mb-1">Title your review</p>
        <input type="text" class="review p-2 w-100" (input)="onReviewChange($event)" [(ngModel)]="reviewTitle">

        <!-- Submit Button -->
        <div>
            <button class="submit-btn fw-bold w-100 mt-4 mb-0" type="submit" (click)="submitReview()" [disabled]="!isAdded || loading">
                <span *ngIf="!loading">Submit</span>
                <span *ngIf="loading">
                    <i class="spinner-border spinner-border-sm"></i> Loading...
                </span>
            </button>
        </div>
    </div>
   </div>

</section>
