<section class="pb-5">
    <img [src]="layoutPic || userData.backgroundImageURL" alt="layoutPic" class="w-100" >

    <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-11 p-0 profile-box">
            <div class="row align-items-center my-md-5 ps-md-2">
              <!-- Profile Picture -->
              <div class="col-md-3 text-center">
                <div class="profile-pic rounded-circle">
                  <img 
                    [src]="profileImg || userData.profileImageURL" 
                    alt="Profile Image" 
                    class="profile-img rounded-circle" 
                    (change)="uploadProfileImg($event)">
                </div>
              </div>
      
              <!-- Profile Info -->
              <div class="col-md-6">
                <div class="profile-info">
                  <h5 class="name fw-bold mb-1">{{ userData.firstName }} {{ userData.lastName }}</h5>
                  <p class="lead username">{{ user }}{{updatedData.userName}}</p>
                  <div class="d-flex mt-md-5 info">
                    <h5 class="fw-bold me-3" >0 Followers</h5>
                    <h5 class="fw-bold">0 Following</h5>
                  </div>
                </div>
              </div>
      
              <!-- Edit Profile Button -->
              <div class="col-md-3 text-md-end text-center px-md-4 mt-md-0 edit-button">
                <button class="btn btn-outline-dark fw-bold " (click)="toggleEditBox()">
                    Edit profile
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <div class="container ">
        <div class="row justify-content-center ">
             <!-- Information Column -->
            <div class="col-md-3 me-4 information h-25">

                <!-- 1 -->
                <div class="information-items py-5 px-4">
                    <div class="location item d-flex">
                        <i class="fa-regular fa-id-card me-2"></i>
                        <p class="mb-0">{{updatedData.nationality}}</p>
                    </div>
                    <div class="calendar item d-flex">
                        <img [src]="calendarIcon" alt="calendarIcon" class="me-2">
                        <p class="mb-0">Joined Oct 2024</p>
                    </div>
                    <div class="website item d-flex">
                        <img [src]="websiteIcon" alt="websiteIcon" class="me-2">
                        <a class="text-decoration-none text-black mb-0" [href]="updatedData.websiteLink" target="_blank">{{ displayWebsiteLink }}</a>
                    </div>
                    <div class="bio item d-flex">
                        <img [src]="bioIcon" alt="bioIcon" class="me-2">
                        <p class="mb-0">{{updatedData.bio}}</p>
                    </div>
                </div>

                <!-- 2 -->
                <div class="information-items mt-4 py-5 px-5">
                    <div class="signs d-flex align-items-center justify-content-center ">
                        <button class="me-2 w-100 btn-main" style="cursor: default;">Traveler</button>
                        <button class="w-100 btn-main" style="cursor: default;">Adventurer</button>
                    </div>
                    <div class="signs mt-2 d-flex align-items-center justify-content-center ">
                        <button class="me-2 w-100 btn-main" style="cursor: default;">Guided</button>
                        <button class="w-100 btn-main" style="cursor: default;">Historical</button>
                    </div>
                    <div class="signs mt-2  d-flex align-items-center justify-content-center ">
                        <button class="me-2 w-100 btn-main" style="cursor: default;">Solo</button>
                        <button class="w-100 btn-main" style="cursor: default;">Flexible</button>
                    </div>
                    <div class="signs mt-2  d-flex align-items-center justify-content-center ">
                        <button class="me-2 w-100 btn-main" style="cursor: default;">Culture</button>
                        <button class="w-100 btn-main" style="cursor: default;">Fun</button>
                    </div>
                </div>   
                
                <!-- 3 -->
                <div class="information-items Achievements mt-4 py-2 px-2">
                    <h4 class="m-0" style="font-weight: 600;">Your Achievements</h4>
                    <p class="lead">Start sharing to unlock</p>
    
                    <div class="d-flex justify-content-center mb-2">
                        <button class="btn-unlock w-100">
                            <div class="d-flex align-items-center justify-content-center" style="font-weight: 500; font-size: 14px;">
                                <img [src]="lockIcon" alt="lockIcon" style="width: 24px; height: 24px; margin-right: 8px;">
                                Write your first review to unlock
                            </div>
                        </button>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn-unlock w-100">
                            <div class="d-flex align-items-center justify-content-center" style="font-weight: 500; font-size: 14px;">
                                <img [src]="lockIcon" alt="lockIcon" style="width: 24px; height: 24px; margin-right: 8px;">
                                Add your first photo to unlock
                            </div>
                        </button>
                    </div>

                    <div class="d-flex justify-content-center mt-4 mb-2">
                        <button class="btn btn-outline-dark w-75 ">View all</button>
                    </div>
                    
                </div>  

                <!-- 4 -->
                <div class="information-items mt-4 py-3 px-3">
                    <p style="font-weight: 600;">Share your travel advice</p>
                    <div class="d-flex">
                        <img [src]="cameraIcon" class="me-2" alt="cameraIcon" style="width: 24px; height: 24px;">
                        <p style="font-weight: 500;" role="button">Post photos</p>
                    </div>
                    <div class="d-flex">
                        <img [src]="editIcon" class="me-2" alt="editIcon" style="width: 24px; height: 24px;">
                        <p style="font-weight: 500;" role="button">Post a review</p>
                    </div>
                </div>  

            </div>
    
            <!-- Posts Column -->
            <div class="col-md-8">

                <!-- First Post -->
                <div class="posts d-flex pt-4 px-3 mb-1">
                    <div class="col-md-1 posts-content">
                        <div class="content rounded-circle">
                            <img [src]=" profileImg || userData.profileImageURL " alt="profileImg" (change)="updateCurrentData()" accept="image/*" class="file-input pic" >
                        </div>
                    </div>
                    <div class="col-md-10 ms-3 pt-2">
                        <div class="d-flex">
                            <p class="userName pe-1 m-0" style="font-size: 18px; font-weight: 600;">{{userData.firstName}} {{userData.lastName}}</p>
                            <p class="account lead m-0" style="font-size: 16px;">{{user}}{{userData.firstName}}</p>
                            <p class="date lead ps-1 m-0" style="font-size: 16px;">Nov 4</p>
                        </div>
                        <div class="comments">
                            <p style="font-weight: 500;">Khan El Khalili is a highly recommended place y’all need to visit.</p>
                        </div>
                        <div class="icons d-flex">
                            <a href=""><img [src]="chatIcon" alt="chatIcon"></a>
                            <p class="me-4">130</p>
                            <a href=""><img [src]="heartIcon" alt="heartIcon"></a>
                            <p class="me-4">1k</p>
                            <a href=""><img [src]="sendIcon" alt="sendIcon"></a>
                        </div>
                    </div>
                    <div class="col-md-1 ps-3">
                        <a [href]="" class="text-decoration-none text-black" role="button">
                        <i class="bi bi-three-dots"></i>
                        </a>
                    </div>
                </div>
    
                <!-- Second Post -->
                <div class="posts d-flex pt-4 px-3">
                    <div class="col-md-1 posts-content">
                        <div class="content rounded-circle">
                            <img [src]=" profileImg || userData.profileImageURL " alt="profileImg" class="pic" (change)="uploadProfileImg($event)">
                        </div>
                    </div>
                    <div class="col-12 col-md-10 ms-md-3 pt-2">
                        <div class="d-flex">
                            <p class="userName pe-1 m-0" style="font-size: 18px; font-weight:600;">{{userData.firstName}} {{userData.lastName}}</p>
                            <p class="account lead m-0" style="font-size: 16px;">{{user}}{{userData.firstName}}</p>
                            <p class="date lead ps-1 m-0" style="font-size: 16px;">Nov 5</p>
                        </div>
                        <div class="comments">
                            <p style="font-weight: 500;">Art D’egypt was so fun today cant wait for next year.</p>
                        </div>
                        <div class="post-pic mb-3">
                            <img [src]="postImg" alt="postImg">
                        </div>
                        <div class="icons d-flex">
                            <a href=""><img [src]="chatIcon" alt="chatIcon"></a>
                            <p class="me-4">200</p>
                            <a href=""><img [src]="heartIcon" alt="heartIcon"></a>
                            <p class="me-4">3k</p>
                            <a href=""><img [src]="sendIcon" alt="sendIcon"></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-1 ps-3">
                        <a [href]="" class="text-decoration-none text-black" role="button">
                            <i class="bi bi-three-dots"></i>
                        </a>                 
                    </div>
                </div>


            </div>
            
        </div>
    </div>

    <!-- edit-box -->
    <div class="container-fluid editBoxContainer py-2 pt-1" [class.hidden]="showEditSection">
        <div class="update-box p-1 mt-4" >
            
            <div class="row w-100 pt-1">
                <div class="d-flex justify-content-between p-0 ps-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <i class="fa-solid fa-xmark ps-1" role="button" style="width: 24px; font-size: 20px;" (click)="toggleEditBox()"></i>
                        <h5 class="mb-1 ms-4 fw-bold">Edit Profile</h5>
                    </div>
                    <button class="action-button" aria-label="Close" type="submit" [disabled]="!isEdited || isLoading"  (click)="updateCurrentData()"> <ng-container *ngIf="isLoading">
                        <i class="fas fa-spinner fa-spin me-1"></i>
                        Saving...
                        </ng-container>
                        <ng-container *ngIf="!isLoading">
                            Save
                        </ng-container>
                    </button>
                </div> 
            </div>
        
            <div class="row backgroundImgEdit p-2">
                <div class="blur-wrapper position-relative p-0">
                    <img [src]="backgroundEdit || userData.backgroundImageURL" alt="background" class="background-image w-100 "  >
                    <div class="blur-overlay position-absolute w-100 h-100"></div>
                    <div class="update-icons d-flex justify-content-evenly align-items-center">
                        <input type="file" #backgroundFileInput (change)="uploadBackgroundImg($event)" hidden>
                        <i class="fa-solid fa-pen-to-square" role="button" (click)="backgroundFileInput.click()" ></i>
                        <i class="fa-solid fa-xmark " role="button" (change)="removeBackground()"></i>
                    </div>
                </div>
            </div>

            <div class="row update-profile-img p-2 ms-5 ">
                <div class="blur-wrapper position-relative p-0 w-auto">
                    <img [src]="profileImg || userData.profileImageURL" alt="Profile Image" class="profileImg rounded-circle" >
                    
                    <div class="blur-overlay position-absolute w-100 h-100"></div>

                    <div class="update-icons d-flex justify-content-evenly align-items-center">
                        <input type="file" #fileInput (change)="uploadProfileImg($event)" hidden>
                        <i *ngIf="!profileImgLoading" class="fa-solid fa-pen-to-square" role="button" (click)="fileInput.click()"></i>
                        <i *ngIf="profileImgLoading" class="fas fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>

            <div class="container update-data">
                <div class="row ">
                    <div class="col col-sm-12">
                        <div class="form-group">

                            <div class="form-floating mb-3 d-flex align-items-center position-relative">
                                <input type="text" class="form-control dropdown input-main pb-3" id="Username" placeholder="Username" style="padding: 34px 10px;" [(ngModel)]="updatedData.userName"  [disabled]="!isUsernameEditable" (ngModelChange)="onEdit()">
                                <button
                                    type="button"
                                    class="btn btn-outline-secondary position-absolute"
                                    style="right: 10px; top: 50%; transform: translateY(-50%);"
                                    (click)="toggleUsernameEdit()"
                                    >
                                    <i [ngClass]="isUsernameEditable ? 'fa fa-lock' : 'fa fa-pen'" aria-hidden="true"></i>
                                    </button>
                                <label for="Username">Username</label>
                                <div *ngIf="usernameError" class="invalid-feedback alert alert-danger">
                                    The username is already in use. Please choose another one.
                                </div>                              
                            </div>


                            <div class="form-floating mb-3">
                                <textarea name="Bio" class="form-control input-main" id="Bio" placeholder="Bio" style="height: 82px;" [(ngModel)]="updatedData.bio" (ngModelChange)="onEdit()"></textarea>
                                <label for="Bio">Bio</label>
                            </div>

                            <!-- location/City -->
                            <!-- <div class="form-floating mb-3">
                                <input type="text" class="form-control input-main" id="Location" placeholder="Location" [(ngModel)]="updatedData.city" (ngModelChange)="onEdit()">
                                <label for="Location">Location</label>
                            </div> -->
                            <!-- Country Dropdown -->
                            <!-- <div class="d-flex">
                                <div class="form-floating mb-3 me-1 w-100">
                                    <select class="form-select input-main" id="Country" [(ngModel)]="updatedData.country" (ngModelChange)="onCountryChange()">
                                        <option value="" disabled>Select Country</option>
                                        <option *ngFor="let country of countryList" [value]="country">
                                            {{ country }}
                                        </option>
                                    </select>
                                    <label for="Country" class="p-2">Country</label>
                                </div> -->
                                <!-- City Dropdown -->
                                <!-- <div class="form-floating mb-3 w-100">
                                    <select class="form-select input-main" id="City" [(ngModel)]="updatedData.city" [disabled]="!updatedData.country">
                                        <option value="" disabled>Select City</option>
                                        <option *ngFor="let city of filteredCities" [value]="city">
                                            {{ city }}
                                        </option>
                                    </select>
                                    <label for="City" class="p-2">City</label>
                                </div>
                            </div>-->
                            
                            <div class="form-floating mb-3">
                                <input type="url" class="form-control input-main" id="Website" placeholder="Website" [(ngModel)]="updatedData.websiteLink" (ngModelChange)="onEdit()">
                                <label for="Website">Website</label>
                            </div>

                            <div class="form-input">
                                <h5 for="birthdate" style="font-weight: 400;">Birth date</h5>
                                <label for="month"></label>
                                <select [(ngModel)]="selectedMonth" id="month" class="dropdown input-main me-2" (change)="onMonthChange()" (ngModelChange)="onEdit()">
                                    <option value="" disabled selected>Month</option>
                                    <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                                </select>
                                <label for="day"></label>
                                <select [(ngModel)]="selectedDay" id="day" class="dropdown input-main me-2" (ngModelChange)="onEdit()">
                                    <option value="" disabled selected>Day</option>
                                    <option *ngFor="let day of days" [value]="day">{{ day }}</option>
                                </select>
                                <label for="year"></label>
                                <select [(ngModel)]="selectedYear" id="year" class="dropdown input-main" (change)="onYearChange()" (ngModelChange)="onEdit()">
                                    <option value="" disabled selected>Year</option>
                                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                </select>
                            </div>

                        </div>
    
                    </div>
                </div>
            </div>
        

        </div> 
    </div>

</section>