  
    .search-bar {
      display: flex;
      align-items: center;
      height: 60px; 
      width: 800px; 
      border-radius: 32px; 
      background: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      padding-left: 15px; 
      padding-right: 8px; 
      margin-left: 250px;
      gap: 16px; 
  
      .searchIcon {
        width: 44px;
        margin-right: 10px;
      }
      
      .search-input {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        font-size: 18px;
        font-weight: 400;
        padding: 18px;
        
      }
    }
  
    .error-message {
      color: red;
      margin-top: 10px;
      text-align: center;
    }
  
    .search-results-container {
      background: #fff;
      position: absolute;
      border: 1px solid #ddd;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      max-height: 260px;
      overflow-y: auto;
      width: 800px;
      margin-left: 250px;
      margin-top: 10px;
      padding: 10px;
  
.result-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background-color: #f4f4f4;
  }

  .result-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    padding: 0;
    margin-top: 0;
  }

  .result-details {
    flex: 1;
    text-align: left;

    .result-name {
      font-size: 1rem;
      font-weight: bold;
    }

    .result-description {
      font-size: 0.8rem;
      color: #555;
    }

    .result-category {
      font-size: 12px;
      font-weight: 600;
      color: #555;
    }
  }
}
    }