    <div class="search-bar mb-5">
      <img [src]="searchIcon" alt="searchIcon" class="search-icon ">
      <input type="text" class="search-input w-auto" [(ngModel)]="query" (input)="onSearchInput()"  />
    </div>
  
    <div *ngIf="errorMessage" class="error-message text-center">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="searchResults.length > 0" id="searchResults">
      <div *ngFor="let result of searchResults" class="result-item  text-center">
        {{ result.name }}
      </div>
    </div>
  