// Color Variables
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --main-color: #FFE5C2;
  --primary-color: #FFF2E0;
  --secondary-color: #FFBD67;
  --link-color: #6F6C90;
  --color: #59B1E6;
  --white: #FFFFFF;
  --black: #000000;
}
  
  // Global styles
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: "Inter", sans-serif;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .btn-main {
    border: 2px solid var(--secondary-color);
    background-color: var(--white);
    border-radius: 20px;

    &:hover {
      background-color: var(--main-color);
    }
  }

  .btn-info{
    border: 1px solid var(--secondary-color);
    background-color: var(--white);
    border-radius: 20px;

    &:hover {
      background-color: var(--main-color);
    }
  }

.action-button{
    border: 1px solid var(--secondary-color);
    background-color: var(--white);
    border-radius: 10px;

  &:hover {
      background-color: var(--main-color);
    }

}
.input-main{
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}


// Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden; 
}

html {
  font-family: Inter;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

// Scrollbar design
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

// Button styles
.btn-main {
  border: 2px solid var(--secondary-color);
  background-color: var(--white);
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
      background-color: var(--main-color);
  }
}

.action-button {
  border: 1px solid var(--secondary-color);
  background-color: var(--white);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
      background-color: var(--main-color);
  }
}

.input-main {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}
.rate {
  color: #FAC817;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
